@{

    int sum = ViewBag.sum;
}
    <center>
        <h1>第三步</h1>
        <h2>所有OrderId的总和值为 @sum</h2>
        <h2><a href="~/FourthQuestion.aspx">第四步</a></h2>
        <h2><a href="~/fifthQuestion.aspx">第五步</a></h2>
        <h2><a href="~/Orders/Index">第六步</a></h2>

    </center>
